{% extends 'index/loggingBase.html.twig' %}

{% block loggingcard %}

    <h1 style="padding-bottom: 30px"> {{ 'signIn.title'|trans }} </h1>

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}



    <form action="{{ path('app_signIn') }}" method="post">

        <label for="username">{{ 'signIn.email_label'|trans }}</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" required>

        <label for="password">{{ 'signIn.password_label'|trans }}</label>
        <input type="password" id="password" name="_password" required>


        <br>
    <br>
        <button class="button button-submit" style="width: 100%">{{ 'signIn.continue_button'|trans }}</button>
</form>
    <h4 style="padding-bottom: 40px">{{ 'signIn.no_account'|trans }} <a href="{{ path('app_signUp') }}">{{ 'signIn.sign_up'|trans }}</a></h4>
{% endblock %}
