{% extends 'index/loggingBase.html.twig' %}

{% block loggingcard %}

<h1 style="padding-bottom: 30px"> Se connecter </h1>
<form name="user" method="post">
    <div>
        {{ form_label(form.email, 'E-mail') }}
        {{ form_widget(form.email) }}
        <div class="form-error-message">
            {{ form_errors(form.email) }}
        </div>
    </div>
    <div>
        {{ form_label(form.password, 'Mot de passe') }}
        {{ form_widget(form.password) }}
        <div class="form-error-message">
            {{ form_errors(form.password) }}
        </div>
    </div>
    <br>
    <br>
    <button class="button button-submit" style="width: 100%">Continuer</button>
</form>
    <h4 style="padding-bottom: 40px"> Pas de compte ? <a href="#">S'inscrire</a></h4>
{% endblock %}
