{% extends 'base.html.twig' %}
{% block body %}
    <!DOCTYPE html>
    <html lang="fr">
    <body>
    <div id="main-container">
        {{ include('partials/nav.html.twig') }}
        <main>
            <header>
                {% if app.user %}
                    {{ include('partials/userInitialsBadge.html.twig') }}
                {% endif %}
                <div id="title-page">
                    <h1>
                        {% if task.id %}
                        {{ task.title }}
                        {% else %}
                            {{ 'task.add.create_task'|trans }}
                        {% endif %}
                    </h1>
                </div>
            </header>
            <div id="content">
                {{ form_start(form) }}
                <form name="tache" method="post">
                    <div>
                        {{ form_label(form.title, 'task.add.title_label'|trans) }}
                        {{ form_widget(form.title) }}
                        <div class="form-error-message">
                            {{ form_errors(form.title) }}
                        </div>
                    </div>
                    <div>
                        {{ form_label(form.description, 'task.add.description_label'|trans) }}
                        {{ form_widget(form.description) }}
                        <div class="form-error-message">
                            {{ form_errors(form.description) }}
                        </div>
                    </div>
                    <div class="flex-form">
                        <div>
                            {{ form_label(form.deadline, 'task.add.date_label'|trans) }}
                            {{ form_widget(form.deadline) }}
                            <div class="form-error-message">
                                {{ form_errors(form.deadline) }}
                            </div>
                        </div>
                        <div>
                            <div>
                                {{ form_label(form.status, 'task.add.status_label'|trans) }}
                                {{ form_widget(form.status) }}
                                <div class="form-error-message">
                                    {{ form_errors(form.status) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        {{ form_label(form.user, 'task.add.collaborator_label'|trans) }}
                        {{ form_widget(form.user) }}
                        <div class="form-error-message">
                            {{ form_errors(form.user) }}
                        </div>
                    </div>
                    <br>
                    <button class="button button-submit">{{ 'task.add.add_button'|trans }}</button>
                    {% if task.id %}
                        <br>
                        <a href="{{ path('app_task_delete', {id: task.id}) }}" class="delete-task">{{ 'task.add.delete_task'|trans }}</a>
                    {% endif %}
                </form>
                {{ form_end(form) }}
            </div>
        </main>
    </div>
    </body>
    </html>
{% endblock %}
