{% extends 'index/loggingBase.html.twig' %}
{% block loggingcard %}

    <div class="container">
        <div class="row">
            <div style="color: white; display:flex; flex-direction: column; justify-content: center; align-items: center ">
                <h1 class="">Two Factor Authentication</h1>
                <p>
                    Un code vous a été envoyer par email.
                </p>
                {% if authenticationError %}
                    <p>{{ authenticationError|trans(authenticationErrorData, 'SchebTwoFactorBundle') }}</p>
                {% endif %}
                {# Display current two-factor provider #}
                <p class="label"><label for="_auth_code">{{ "auth_code"|trans({}, 'SchebTwoFactorBundle') }}:</label></p>
                <form class="form" action="{{ checkPathUrl ? checkPathUrl: path(checkPathRoute) }}" method="post">
                    <p class="widget">
                        <input
                                id="_auth_code"
                                type="text"
                                name="{{ authCodeParameterName }}"
                                autocomplete="one-time-code"
                                autofocus
                        />
                    </p>
                    {% if displayTrustedOption %}
                        <p class="widget"><label for="_trusted"><input id="_trusted" type="checkbox" name="{{ trustedParameterName }}" /> {{ "trusted"|trans({}, 'SchebTwoFactorBundle') }}</label></p>
                    {% endif %}
                    {% if isCsrfProtectionEnabled %}
                        <input type="hidden" name="{{ csrfParameterName }}" value="{{ csrf_token(csrfTokenId) }}">
                    {% endif %}
                    <p class="submit"><input class="button button-submit" type="submit" value="{{ "Valider"|trans({}, 'SchebTwoFactorBundle') }}" /></p>
                </form>
{#                <p class="cancel"><a href="{{ logoutPath }}">{{ "cancel"|trans({}, 'SchebTwoFactorBundle') }}</a></p>#}
            </div>
        </div>
    </div>

{% endblock %}