{% extends 'base.html.twig' %}
{% block body %}
    <!DOCTYPE html>
    <html lang="fr">
    <body>
    <div id="main-container">
        {{ include('partials/nav.html.twig') }}
        <main>
            <header>
                {% if app.user %}
                    {{ include('partials/userInitialsBadge.html.twig') }}
                {% endif %}
                <div id="title-page">
                    <h1>{{ 'project.new.title'|trans }}</h1>
                </div>
            </header>
            <div id="content">
                {{ form_start(form) }}
                <form name="projet" method="post">
                    <div>
                        <label for="projet_nom" class="required">
                            {{ form_label(form.name, 'project.new.name_label'|trans) }}
                            {{ form_widget(form.name) }}
                            <div class="form-error-message">
                                {{ form_errors(form.name) }}
                            </div>
                        </label>
                    </div>
                    <div>
                        {{ form_label(form.users, 'project.new.invite_members_label'|trans) }}
                        {{ form_widget(form.users) }}
                        <div class="form-error-message">
                            {{ form_errors(form.users) }}
                        </div>
                    </div>
                    <br>
                    <br>
                    <button class="button button-submit">{{ 'project.new.continue_button'|trans }}</button>
                </form>
                {{ form_end(form) }}
            </div>
        </main>
    </div>
    </body>
    </html>
{% endblock %}
