{% extends 'base.html.twig' %}
{% block body %}
    <script>
        function confirmDelete(event, projectId) {
            event.preventDefault();
            if (confirm('{{ 'project.edit.confirm_delete'|trans }}')) {
                window.location.href = '/project/remove/' + projectId;
            }
        }
    </script>

<!DOCTYPE html>
<html lang="fr">
<body>
<div id="main-container">
    {{ include('partials/nav.html.twig') }}
    <main>
        <header>
            {% if app.user %}
                {{ include('partials/userInitialsBadge.html.twig') }}
            {% endif %}
            <div id="title-page">
                <h1>{{ project.name }}</h1>
            </div>
        </header>
        <div id="content">
            {{ form_start(form) }}
            <form name="projet" method="post">
                <div>
                    <label for="projet_nom" class="required">
                        {{ form_label(form.name, 'project.edit.name_label'|trans) }}
                        {{ form_widget(form.name) }}
                        <div class="form-error-message">
                            {{ form_errors(form.name) }}
                        </div>
                    </label>
                </div>
                <div>
                    {{ form_label(form.users, 'project.edit.invite_members_label'|trans) }}
                    {{ form_widget(form.users) }}
                    <div class="form-error-message">
                        {{ form_errors(form.users) }}
                    </div>
                </div>
                <br>
                <div>
                    {{ form_label(form.startAt, 'project.edit.start_date_label'|trans) }}
                    {{ form_widget(form.startAt) }}
                    <div class="form-error-message">
                        {{ form_errors(form.startAt) }}
                    </div>
                </div>
                <div>
                    {{ form_label(form.deadline, 'project.edit.deadline_label'|trans) }}
                    {{ form_widget(form.deadline) }}
                    <div class="form-error-message">
                        {{ form_errors(form.deadline) }}
                    </div>
                </div>
                <div>
                    {{ form_label(form.tags, 'project.edit.tags_label'|trans) }}
                    {{ form_widget(form.tags) }}
                    <div class="form-error-message">
                        {{ form_errors(form.tags) }}
                    </div>
                </div>
                <div>
                    <div class="checkbox-container">
                        {{ form_label(form.archived, 'project.edit.archived_label'|trans, {'label_attr': {'class': 'checkbox-label'}}) }}
                        {{ form_widget(form.archived) }}
                    </div>
                    <div class="form-error-message">
                        {{ form_errors(form.archived) }}
                    </div>
                </div>
                <br>
                <br>
                <button class="button button-submit">{{ 'project.edit.continue_button'|trans }}</button>
                <a href="#" onclick="confirmDelete(event, {{ project.id }})" class="delete-task">{{ 'project.edit.delete_project'|trans }}</a>
            </form>
            {{ form_end(form) }}
        </div>
    </main>
</div>
</body>
</html>
{% endblock %}
