{% extends 'base.html.twig' %}

{% block title %}
    <title> {{ 'project.list.title'|trans }} - TaskLinker </title>
{% endblock %}

{% block body %}
    <script>
        function confirmDelete(event, projectId) {
            event.preventDefault();
            if (confirm('{{ 'project.index.confirm_delete'|trans }}')) {
                window.location.href = '/project/remove/' + projectId;
            }
        }
    </script>

<!DOCTYPE html>
<html lang="fr">
<body>
<div id="main-container">
    {{ include('partials/nav.html.twig') }}
    <main>
        <header>
            {% if app.user %}
                {{ include('partials/userInitialsBadge.html.twig') }}
            {% endif %}
            <div id="title-page">
                <div class="flex-header">
                <h1>{{ 'project.index.title'|trans }}</h1>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="button" href="{{ path('app_project_add') }}">{{ 'project.index.add_project'|trans }}</a>
                    {% endif %}
                </div>
            </div>
        </header>
        <div id="content">
            <div id="projects-container">
                {% for project in projects %}
                <article class="card-project">
                    <a href="{{ path('app_project_show', {id: project.id}) }}">
                        <h2>{{ project.name }}</h2>
                    </a>
                    <div class="card-project-icons">
                        {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('app_project_edit', {id: project.id}) }}"><i class="fa-solid fa-pen"></i></a>
                        <a href="#" onclick="confirmDelete(event, {{ project.id }})"><i class="fa-solid fa-trash"></i></a>
                        {% endif %}
                    </div>
                </article>
                {% endfor %}
                {% if is_granted('ROLE_ADMIN') %}
                <article class="card-project">
                    <a href="{{ path('app_project_add') }}">
                        <h2>{{ 'project.index.add_project'|trans }}</h2>
                        <i class="fa-solid fa-plus" style="padding-top: 1vh"></i>
                    </a>
                </article>
                {% endif %}
            </div>
        </div>
    </main>
</div>
</body>
</html>
{% endblock %}
