{% extends 'base.html.twig' %}

{% block title %}
    <title> {{ 'user.list.team'|trans }} - TaskLinker </title>
{% endblock %}

{% block body %}

    <script>
        function confirmDelete(event, userId) {
            event.preventDefault();
            if (confirm('{{ 'user.list.confirm_delete'|trans }}')) {
                window.location.href = '/user/delete/' + userId;
            }
        }
    </script>

<!DOCTYPE html>
<html lang="fr">
<body>
<div id="main-container">
    {{ include('partials/nav.html.twig') }}
    <main>
        <header>
            {% if app.user %}
                {{ include('partials/userInitialsBadge.html.twig') }}
            {% endif %}
            <div id="title-page">
                <div class="flex-header">
                <h1> {{ 'user.list.team'|trans }}</h1>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="button" href="{{ path('app_user_add') }}">{{ 'user.list.add_user'|trans }}</a>
                    {% endif %}
                </div>
            </div>
        </header>
        <div id="content">
            <table id="team-container">
                <thead>
                <tr>
                    <th>{{ 'user.list.first_last_name'|trans }}</th>
                    <th>{{ 'user.list.status'|trans }}</th>
                    <th>{{ 'user.list.role'|trans }}</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th>{{ 'user.list.actions'|trans }}</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                <tr>
                    <td>
                        <div class="employee-infos">
                            <div class="employee-avatar">
                                {{ user.initials }}
                            </div>
                            <div class="employee-coords">
                                <strong>{{ user.fullname }}</strong>
                                <span>{{ user.email}}</span>
                            </div>
                        </div>
                    </td>
                    <td> {{ user.contractType|trans }}</td>
                    <td>{{ user.roleLabel|trans }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <div class="table-buttons-container">
                            <a class="button button-edit-team" href="{{ path('app_user_edit' ,{id: user.id}) }}">
                                {{ 'user.list.edit'|trans }}
                            </a>
                            <a class="delete-team" href="#" onclick="confirmDelete(event, {{ user.id }})">
                                {{ 'user.list.delete'|trans }}
                            </a>
                        </div>

                    </td>
                    {# Workaround to avoid changing lastChild table style for button :) #}
                    {% else %}
                        <td style="display: none"></td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</div>
</body>
</html>
{% endblock %}
